/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo .line {
  width: 1px;
  height: 40px;
  background-color: black;
}
header .logo h1 {
  color: #000;
  font-family: "Kaisei Decol";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav h2 {
  color: #000;
  font-family: JejuMyeongjo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .search input {
  width: 300px;
  height: 29px;
  border: none;
  border-radius: 40px;
  background: rgba(217, 217, 217, 0.5);
}
header .icons {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .xs-icon {
  display: none;
}

@media (max-width: 391px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 62px;
    padding: 0 20px;
  }
  header .logo img {
    width: 35px;
    height: 35px;
  }
  header .logo .line {
    height: 20px;
  }
  header .logo h1 {
    font-size: 9px;
  }
  header nav, header .search, header .icons {
    display: none;
  }
  header .xs-icon {
    display: block;
  }
}
.main {
  background-image: url("../imgs/q_70.jpg");
  background-position: center;
  width: 100%;
  background-size: cover;
  background-color: black;
  height: 600px;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .first {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}
.main .info h1 {
  width: 684px;
  color: #FFF;
  text-align: center;
  font-family: judson;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .info button {
  cursor: pointer;
  width: 127px;
  height: 48px;
  border: none;
  color: #FFF;
  border-radius: 8px;
  background: rgb(99, 112, 81);
}
.main .info button:hover {
  background-color: rgb(77, 87, 65);
}

@media (max-width: 391px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 268px;
  }
  .main .info h1 {
    font-size: 20px;
    width: 241px;
  }
  .main .info button {
    width: 89px;
    height: 22.898px;
    border-radius: 8px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main img {
    display: none;
  }
}
.product {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 100px;
}
.product .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product .name .line2 {
  width: 253px;
  height: 1px;
  background-color: black;
}
@media (max-width: 840px) {
  .product .name .line2 {
    display: none;
  }
}
.product .name h1 {
  color: #000;
  font-family: "Kaisei Decol";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product .goods {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 47px;
  padding-bottom: 30px;
}
.product .goods .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
}
.product .goods .child h1 {
  color: #000;
  font-family: JejuMyeongjo;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product .goods .child img {
  width: 240px;
  height: 240px;
}
.product button {
  cursor: pointer;
  color: #FFF;
  width: 235px;
  height: 60px;
  border-radius: 5px;
  background: rgb(11, 37, 56);
  font-family: JejuMyeongjo;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.product button:hover {
  background-color: rgb(13, 36, 53);
}

@media (max-width: 391px) {
  .product {
    margin-top: 42px;
    row-gap: 40px;
  }
  .product .name h1 {
    font-size: 32px;
  }
  .product .goods .child img {
    width: 199px;
    height: 199px;
  }
  .product .goods .child h1 {
    font-size: 22px;
  }
  .product button {
    width: 98px;
    height: 28px;
    color: #FFF;
    font-family: JejuMyeongjo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.lastsection {
  background-image: url("../imgs/Campfire-on-Steens-Mountain-hero-John-Waller.webp");
  width: 100%;
  height: 615px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lastsection div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
.lastsection div h1 {
  color: #FFF;
  width: 405px;
  text-align: center;
  font-family: Judson;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.lastsection div button {
  cursor: pointer;
  width: 241.446px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  background: #19364A;
  color: #FFF;
  font-family: Jomolhari;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.lastsection div button:hover {
  background-color: #142b3a;
}

@media (max-width: 391px) {
  .lastsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 268px;
  }
  .lastsection div h1 {
    color: #FFF;
    text-align: center;
    font-family: Judson;
    width: 169px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .lastsection div button {
    width: 89px;
    height: 21px;
    color: #FFF;
    font-family: Jomolhari;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.pseudofooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #273A47;
  height: 333px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.pseudofooter h1 {
  width: 1140px;
  height: 45px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Karma;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 391px) {
  .pseudofooter {
    height: 137px;
  }
  .pseudofooter h1 {
    color: #FFF;
    max-width: 331px;
    text-align: center;
    font-family: Karma;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
footer {
  background-color: rgb(228, 228, 228);
  width: 100%;
  height: 430PX;
}
footer .padding {
  padding: 26px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
footer .padding .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .padding .upper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .padding .upper .left .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-left: 16px;
}
footer .padding .upper .left .group img {
  width: 40px;
  height: 40px;
}
footer .padding .upper .left .group h2 {
  color: #000;
  font-family: "Kaisei Decol";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .upper .left h1 {
  color: #000;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .upper .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
footer .padding .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .padding .middle .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
footer .padding .middle .left h1 {
  color: #000;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .middle .right {
  width: 50%;
}
footer .padding .middle .right .contactdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .padding .middle .right .contactdiv .leftdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 180px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .padding .middle .right .contactdiv .leftdiv .upperdiv h1 {
  color: #000;
  font-family: "Kaushan Script";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .middle .right .contactdiv .leftdiv .upperdiv .line {
  width: 173.003px;
  height: 1px;
  background-color: #000;
}
footer .padding .middle .right .contactdiv .leftdiv .lowerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
}
footer .padding .middle .right .contactdiv .leftdiv .lowerdiv h1 {
  color: #000;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .middle .right .contactdiv .rightdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 180px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .padding .middle .right .contactdiv .rightdiv .upperdiv h1 {
  color: #000;
  font-family: "Kaushan Script";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .middle .right .contactdiv .rightdiv .upperdiv .line {
  width: 173.003px;
  height: 1px;
  background-color: #000;
}
footer .padding .middle .right .contactdiv .rightdiv .lowerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
}
footer .padding .middle .right .contactdiv .rightdiv .lowerdiv h1 {
  color: #000;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .padding .lower .left {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .padding .lower .left h1 {
  color: #000;
  font-family: Kameron;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .lower .right {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
footer .padding .lower .right input {
  width: 339px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #000;
  background: #FFF;
}
footer .padding .lower .right input::-webkit-input-placeholder {
  color: #000;
  font-family: Karma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .lower .right input::-moz-placeholder {
  color: #000;
  font-family: Karma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .lower .right input:-ms-input-placeholder {
  color: #000;
  font-family: Karma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .lower .right input::-ms-input-placeholder {
  color: #000;
  font-family: Karma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .lower .right input::placeholder {
  color: #000;
  font-family: Karma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .padding .lower .right button {
  border-radius: 12px;
  background: #273A47;
  color: #FFF;
  font-family: Karma;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 391px) {
  footer .padding {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 16px 12px;
  }
  footer .padding .upper .left h1 {
    font-size: 12px;
  }
  footer .padding .upper .left .group {
    margin-left: 9px;
  }
  footer .padding .upper .left .group img {
    width: 26px;
    height: 26px;
  }
  footer .padding .upper .left .group h2 {
    font-size: 16px;
  }
  footer .padding .upper .right img {
    width: 18px;
    height: 18px;
  }
  footer .padding .middle .left {
    display: none;
  }
  footer .padding .middle .right {
    width: 100%;
  }
  footer .padding .middle .right .contactdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .padding .middle .right .contactdiv .leftdiv .upperdiv .line {
    width: 150px;
  }
  footer .padding .middle .right .contactdiv .leftdiv .lowerdiv h1 {
    font-size: 18px;
  }
  footer .padding .middle .right .contactdiv .rightdiv .upperdiv .line {
    width: 150px;
  }
  footer .padding .middle .right .contactdiv .rightdiv .lowerdiv h1 {
    font-size: 18px;
  }
  footer .padding .lower .left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .padding .lower .left .group1, footer .padding .lower .left .group2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    max-width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .padding .lower .right {
    display: none;
  }
}/*# sourceMappingURL=global.css.map */