@include mymixin;
.main{
    background-image: url("../imgs/q_70.jpg");
    background-position: center;
    width: 100%;
    background-size: cover;
    background-color: black;
    height: 600px;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .first{
        transform: rotate(180deg);
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        h1{
            width: 684px;
            color: #FFF;

            text-align: center;
            font-family: judson;
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        button{
            cursor: pointer;
            width: 127px;
            height: 48px;
            border: none;
            color: #FFF;
            border-radius: 8px;
            background: rgb(99, 112, 81);
            &:hover{
                background-color: rgb(77, 87, 65);
            }
        }
    }
}

@media (max-width: 391px){
    .main{
        display: flex;
        justify-content: center;
        height: 268px;
        .info{
            h1{
                font-size: 20px;
                width: 241px;
            }
            button{
                width: 89px;
                height: 22.898px;
                border-radius: 8px; 
                color: #FFF;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        img{
            display: none;
        }
    }

}
.product{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    justify-content: space-around;
    padding-bottom: 100px;

    .name{
        display: flex;
        align-items: center;
        

        .line2{
            width: 253px;
            
            height: 1px;
            background-color: black;
            @media (max-width: 840px) {
                display: none;
            }
        }
        h1{
            color: #000;
            font-family: "Kaisei Decol";
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .goods{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 47px;
        padding-bottom: 30px;
        .child{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
            h1{
                color: #000;

                font-family: JejuMyeongjo;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                
            }
        }
    }
    button{
        cursor: pointer;
        color: #FFF;
        width: 235px;
        height: 60px;
        border-radius: 5px;
        background: rgb(11, 37, 56);
        font-family: JejuMyeongjo;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        &:hover{
            background-color: rgb(13, 36, 53);
        }
    }
}

@media (max-width: 391px) {
    .product{
        margin-top: 42px;
        row-gap: 40px;
        .name{
            h1{
                font-size: 32px;
            }
        }
        .goods{
            .child{
                img{
                    width: 199px;
                    height: 199px;
                }
                h1{
                    font-size: 22px;
                }
            }
        }
        button{
            width: 98px;
            height: 28px;
            color: #FFF;

            font-family: JejuMyeongjo;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }  

}

.lastsection{
    background-image: url("../imgs/Campfire-on-Steens-Mountain-hero-John-Waller.webp");
    width: 100%;
    height: 615px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    div{   
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        h1{
            color: #FFF;
            width: 405px;
            text-align: center;
            font-family: Judson;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        button{
            cursor: pointer;
            width: 241.446px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #19364A;
            color: #FFF;

            font-family: Jomolhari;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            &:hover{
                background-color: #142b3a;
            }
        }
    }
}

@media (max-width: 391px) {
    .lastsection{
        display: flex;
        justify-content: center;
        height: 268px;
        div{
            h1{
                color: #FFF;
                text-align: center;
                font-family: Judson;
                width: 169px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            button{
                width: 89px;
                height: 21px;
                color: #FFF;

                font-family: Jomolhari;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.pseudofooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #273A47;
    height: 333px;
    
    flex-direction: column;
    width: 100%;
    h1{
        width: 1140px;
        height: 45px;
        flex-shrink: 0;
        color: #FFF;        
        text-align: center;
        font-family: Karma;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (max-width: 391px) {
    .pseudofooter{
        height: 137px;
        h1{
            color: #FFF;
            max-width: 331px;
            text-align: center;
            font-family: Karma;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

@include myfooter;